.container {
  background-color: white;
  margin:0 auto;
}
.mb-4 {
  text-align: center;
  color: lightslategrey;
  padding: 1px grey solid;
}
h1 {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  color: lightslategrey;
}
.col-md-7{
  border: 1px solid lightgray;
}
.row-py-3{
	
}